@charset "utf-8";

.counter {
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: 4px solid #872f2f;
    align-items: center;
}

/* .counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */