@charset "utf-8";

.counter {
    text-align: center;
    padding: 20px;
    margin: 160px;
    border: 4px solid #561954;
    align-items: center;
    border-radius: 10px;
}

.counter-number {
    font-size: 50px;
    font-weight: bold;
    color: #561954;
}

.button {
    font-size: 20px;
    font-weight: bold;
    color: #561954;
}